---
import Layout from '../layouts/Layout.astro';
---
<section class="text-center py-16 bg-gray-800 text-white">
	<h1 class="text-4xl font-bold">Bienvenido a mi Blog</h1>
	<p class="mt-4 text-lg">Explorando la Herejía de Horus y los oscuros secretos del Imperio.</p>
  </section>
  