---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="text-primary text-center">Hola esto es Anira</h1>
	<h2 class="text-secondary text-center">By Rolnyr</h2>
	<!--lo de flex es para que el div tenga un posicionamiento flexible /justify es para centrarlo (solo funciona si es flex, si no no funciona)/  -->
	<div class="flex justify-center items-center flex-col pb-2 h-80 bg-red-200">
		
		<div class="h-20 w-20 bg-green-900"/>
		<div class="h-20 w-20 bg-secondary"/>
		<div class="h-20 w-20 bg-blue-300"/>
		<div class="h-20 w-20 bg-green-900"/>


		
	
	</div>
	<div class="flex justify-start items-center gap-2 flex-col pt-2 border-2 border-secondary border-dotted h-80 bg-blue-200">
		<div class="h-20 w-20 bg-secondary rounded-md drop-shadow-xl hover:bg-sky-700"/>
		<div class="h-20 w-20 bg-blue-300"/>
	</div>
	
</Layout>
