---
import Boton from "./Boton.astro"
import HeaderButton from "./Boton.astro"

console.log('javascript')
---

<div id="flex w-full justify-center">
	<h1 class="text-2xl text-center">Qué pasa mufasaaaaa</h1>
	<Boton class="text-white" href="/">
		<svg
		slot="after"
		fill="none" 
		stroke="currentColor" 
		stroke-linecap="round" 
		stroke-linejoin="round" 
		width="24" height="24" 
		stroke-width="2">
			<path d="M10 6a3 3 0 1 0 -6 0v7h6v-7z"></path>
			<path d="M14 13h6v-7a3 3 0 0 0 -6 0v7z"></path>
			<path d="M5 16c0 2.333 .667 4 2 5c1.333 -1 2 -2.667 2 -5"></path>
			<path d="M15 16c0 2.333 .667 4 2 5c1.333 -1 2 -2.667 2 -5"></path>
			<path d="M10 8h4"></path>
			<path d="M10 11h4"></path>
		  </svg>Últimos lanzamientos
	</Boton>
</div>
